body{
  width: 100%;
}


.About {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 80vmin;
  animation-delay: 0.5s;
margin-bottom: 6vmax;
width: 100%;
}
.ProfilePic{
  margin-top: 2vmax;
}

.About > div > img {
  height: 70vmin;
}

.link{
  color: darkblue !important;
  margin-bottom: 3vmax;
  margin-top: 3vmax;
  font-size: 3vmax;
  margin-right: 16px;
}

.About > div:first-child {
  width: 90%;
  margin: auto;
  height: 50vmin;
  /* min-width: 50vmin; */
  color: #000000;
}

.About > div:first-child > h2 {
  color: rgb(0, 0, 0) !important;
  font: 400 2em xx-large;
}

.About > div:first-child > h2 > span {
  color: darkblue;
  font-size: 3em;
}


.About > div:first-child > a > button {
  border: 5px solid rgb(0, 0, 139);
  color: darkblue;
  background-color: transparent;
  padding: 1vmax;
  font: 600 2em xx-large;
margin-bottom: 6vmax;
cursor: pointer;
/* color: rgb(0, 62, 162); */

}


.About > div:first-child  >a> button:hover{
  border: 5px solid darkblue;
  color: #fff;
  background-color: #3f3fff;

}

.AboutMe {
  height: 90vmin;
  width: 100%;
  margin: auto;
  color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.AboutMe > h1 {
  color: rgb(0, 0, 0);
  font-size: 2em;
}

.AboutMe > h2 {
  width: 100%;
  color: rgb(0, 0, 0);
}

.img > img{
  height: 60vmin;
}

.Skills {
  text-align: center;
  color: rgb(255, 255, 255);
  min-height: 50vmin;
  height: auto;
margin: auto;
width: 80%;

}

.Skills > h1{
  color: #000000 !important;
}

.skills {
  justify-content: center;
  display: flex;
  margin: 2vmax;
  width: 80vw;
  flex-wrap: wrap;
  max-width: 100%;
}
.skillsContainer {
  width: 20%;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 1px 14px 2px rgb(0, 162, 176);
  margin: 4vmax;
  color: black;
}
.skillsContainer > img {
  margin: 2vmax;
  width: 50%;
  transition: 2s all;
}

.skillsContainer > h2{
  font-size: 2.3vmax;
  color: darkblue;
  font-weight: 600;
}

.skillsContainer:hover{
    transform: translateY(-2vmax) !important;
}


.Project{
  text-align: center;
  color: darkblue;
  min-height: 50vmin;
  height: auto;
margin: auto;
width: 80%;
}

.Project > h1{
  color: black !important;
}

.Projects{
  justify-content: center;
  display: flex;
  margin: 2vmax;
  /* width: 90%; */
  flex-wrap: wrap;
  max-width: 100%;
}

.ProjectContainer{
  width: 35%;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 1px 14px 2px rgb(0, 162, 176);
  margin: 2vmax auto;
font: 400 5vmax;
padding: 1vmax;
}

.ProjectContainer:hover{
  transform: translateY(-2vmax) !important;
}


.ProjectContainer > h2
{
  font: 600 2.5vmax "Roboto" !important;
}
.ProjectContainer > h3{
  font: 600 2.2vmax "Roboto" !important;
  color: black !important;

}

.ProjectContainer > img{
  width: 100%;
  border-radius: 40px;

}

.ProjectContainer > a >svg{
color: rgb(0, 162, 176);  
font-size: 4vmax;
text-align: right;
width: 40%;
}



a{
  text-decoration: none;
}

footer >h1{
  text-align: center;
  font: 600 3vmax "Roboto";
}


@media only screen and (max-width: 1150px) {
  .AboutMe{
    margin-top: 5vmax;
    grid-template-columns: 1fr;
    height:auto;
    width: 100%;
  }
  .p{
    margin: 2vmax;
  }
  
}

@media only screen and (max-width: 800px) {

.About{
height:auto !important;
grid-template-columns: 1fr;
margin-bottom: -2vmax;

}
.link{
  color: darkblue !important;
  margin-bottom: 3vmax;
  margin-top: 3vmax;
  font-size: 4vmax;
  margin-right: 16px;
}
.ProfilePic{
  margin-top: 55vmax;
  margin-left: 8vmax;
  height: 80vmin;
}

.img > img{
display: none;
}

.AboutMe{
  grid-template-columns: 1fr;
  height:auto !important;
  width: 100%;
}
.AboutMe > h2{
  width: 100%;
}
.p{
  margin: 2vmax;
}

.Skills{
height:auto;
}

.skillsContainer {
  width: 50%;
  margin: 4vmax;
}

.ProjectContainer{
  width: 60%;
}

}

@media only screen and (max-width: 500px) {

  .About > div:first-child > h2 > span {
    color: darkblue;
    font-size: 2.5em;
  }

  .skillsContainer {
    width: 70%;
    margin: 4vmax;
  }
  .About{
    height:auto !important;
    }
  
  .ProjectContainer{
    width: 80%;
  }

}